center{
  margin-top: 50px;

}


.container{
  background-color: #4048e6;
  margin-bottom: 10px;
  height: 410px;
  width: 800px;
  margin-top: 50px;
  padding-right: 11px;
  display: flex;
  justify-content: space-around;
  
  

}

.card{
  position: relative;
  margin-top: 10px;
  height: 370px;
  width: 210px;
  background-color: rgb(243, 236, 236);
  padding: 10px;
  margin-left: 10px;
  border: 0px solid white;
  border-radius: 15px;
  justify-content: space-between;
}

.card-head{
  text-align: center;
  border-bottom: 2px solid lightgray;
  height: 70px

}
.sub{
  font-weight: bolder;
  font-size: x-large;
  font-style: normal;
}
.type{
  font-size: small;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 100;
  padding: 0px;

}


.card-body{
  font-size: small;
  font-weight: 100;
  border-radius: 10px;
  border: 0px solid lightgray;
  padding-left: 4px;
  text-align: start;
  
}

.button{
  background-color: rgb(68, 146, 236);
  color: white;
  width: 200px;
height: 40px;
font-weight: bolder;
border: 2px solid white;
border-radius: 20px;
}


.hide{
  opacity: 0.5;
}
